= form_for(@game) do |f|
  = f.text_field :word, placeholder: 'Escolha a palavra', class: @game.errors[:word].present? ? 'game_word invalid' : 'input', autocomplete: 'off'
  ou


= button_to "Jogar contra a máquina", machine_games_path, form: { class: 'new_game' }, class: 'input btn'
