<%= form_for(@game) do |f| %>
  <%= f.text_field :word, placeholder: 'Escolha a palavra' %>
  <% if @game.errors[:word] %>
    <span><%= @game.errors[:word].to_sentence %></span>
  <% end %>
<% end %>
